div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(15px) translate(-10px);
}

.scaled{
    margin-left: 200px;
    transform: perspective(150px) scaleZ(2) rotateZ(15deg) rotateY(20deg);
}